* {
    margin: 0%;
    padding: 0%;
}

@media only screen and (min-width: 1200px) {


    .header {
        width: 100%;
        height: 80px;
        background-color: #020a17;
        display: flex;
        position: fixed;

    }

    .logo {
        margin-left: 25px;
        cursor: pointer;
    }

    #logo {
        margin-top: 5px;
    }

    .baricon {
        color: white;
        margin-top: 35px;
        margin-right: 28px;
        cursor: pointer;

    }

    .links {
        margin-top: 25px;
        padding-left: 45%;
        word-spacing: 25px;
        width: 85%;
    }

    a {
        color: white;
        text-decoration: none;


    }

    /* PART  ONE  */
    .ourstory {

        width: 100%;
        height: 800px;
        display: flex;
    }

    .ourstorychild1 {

        width: 95%;
        margin-top: 15%;
        height: 550px;
        font-size: 35px;
        font-family: 'Times New Roman', Times, serif;
    }

    .ourstorychild2 {
        width: 95%;
        height: 550px;
        margin-top: 15%;
        /* margin-right: 25px;     */
    }

    .boldletters {
        display: block;
    }

    div .about {
        font-size: 50px;
        line-height: 18px;
        margin-top: 50px;
        margin-left: 25px;
    }

    .breadimg {
        margin-top: 8px;
        width: 97%;
        margin-left: 30px;
    }

    #para1 {
        font-family: 'Oxygen', sans-serif;
        color: grey;
        margin-top: 40px;
        margin-left: 22px;
        margin-right: 200px;
        font-size: 15px;
        line-height: 24px;
    }

    #para2 {
        font-family: 'Oxygen', sans-serif;
        color: grey;
        margin-top: 25px;
        margin-left: 22px;
        margin-right: 200px;
        font-size: 15px;
        line-height: 24px;
    }

    .button1 {
        width: 145px;
        height: 50px;
        border-radius: 5px;
        border: none;
        outline: none;
        background-color: #f4192f;
        color: white;
        margin-left: 22px;
        margin-top: 45px;
        cursor: pointer;
    }



    .honeychoclatepie {
        width: 99%;
        /* border: 2px solid black; */
        height: auto;
        margin-top: 100px;
        display: flex;

    }

    .honeyshadow {
        width: 360px;
        position: absolute;
        height: 670px;
        /* border: 2px solid green; */
        background-color: #6c757d16;
        z-index: -1;
    }

    .honeyimage {
        width: 750px;
        height: 500px;
        position: relative;
        right: 56%;
        margin-top: 80px;
        z-index: -1;
    }

    .honey {
        width: 50%;
        height: 85%;
        left: 75%;
        flex-wrap: nowrap;
    }

    .honeychoclatepie2 {
        width: 95%;
        height: 500px;
        margin-top: 60px;
        /* border: 2px solid; */
        margin-left: 85px;
    }

    .para-1 {
        font-family: 'Oxygen', sans-serif;
        color: grey;
        margin-top: 40px;
        margin-left: 18px;
        margin-right: 100px;
        font-size: 15px;
        line-height: 24px;
    }

    .para-2 {
        font-family: 'Oxygen', sans-serif;
        color: grey;
        margin-top: 25px;
        margin-left: 18px;
        margin-right: 100px;
        font-size: 15px;
        line-height: 24px;
    }

    .boldlettersofhoney {
        display: block;
    }

    .button1h {
        width: 145px;
        height: 50px;
        border-radius: 5px;
        border: none;
        outline: none;
        background-color: #f4192f;
        color: white;
        margin-left: 22px;
        margin-top: 20px;
        cursor: pointer;
    }

    /* 3 PART MENU  */


    .main2 {
        width: auto;
        height: 900px;
        margin-top: 250px;
        /* border: 2px solid; */
        flex-wrap: wrap;
    }

    .explore {
        line-height: 25px;
        margin-top: 25px;
        margin-left: 46%;
        font-size: 15px;
        font-family: 'Oxygen', sans-serif;
        font-family: 'Ubuntu', sans-serif;
        /* border: 2px solid yellow; */
    }

    .ourmenu {
        font-size: 50px;
        line-height: 18px;
        margin-left: 40%;
    }

    .para-3 {
        font-family: 'Oxygen', sans-serif;
        color: grey;
        margin-left: 18px;
        margin-right: 100px;
        font-size: 16px;
        margin-top: 25px;
        /* margin-bottom: 45px; */
        /* border: 2px solid; */

    }

    .starterbox {
        margin-top: 140px;
        width: 98%;
        height: 95%;
        /* border: 2px solid red; */
        margin-left: 22px;
        line-height: 24px;
        display: flex;

    }

    .starter {
        max-width: auto;
        height: 50%;
        /* border: 2px solid; */
        margin-left: 4%;
        top: 0%;
    }

    .starterimage {
        margin-top: 25px;

    }

    .burger {
        width: auto;
        height: 75%;
        position: relative;
        z-index: -1;
        right: 2%;

    }

    .wonton {
        width: 90%;
        margin-top: 25px;
        height: 22px;
        /* border: 2px solid green; */
        display: flex;
        font-size: 15px;
    }

    .five {
        margin-left: 300px;
        font-family: 'Oxygen', sans-serif;
        font-family: 'Ubuntu', sans-serif;
    }

    .para-3rd {

        margin-top: 25px;
        margin-bottom: 25px;
        color: grey;
        font-family: 'Oxygen', sans-serif;
        font-family: 'Ubuntu', sans-serif;
    }

    .wonton-2 {
        width: 90%;
        margin-top: 15px;
        height: 25px;
        /* border: 2px solid green; */
        display: flex;
        font-size: 15px;
    }

    .menublackshade {
        margin-top: 80px;
        width: 640px;
        height: 800px;
        z-index: -1;
        position: absolute;
        left: 30px;
        background-color: #6c757d16;
    }


    /* FILIPINO GAMEZ */


    .filipino {
        width: 98%;
        height: 600px;
        /* border: 2px solid red; */
        margin-top: 10%;
        display: flex;
        gap: 1%;
        font-size: 16px;
        line-height: 25px;

    }

    .filipinoimage {
        margin-left: 35%;
        margin-top: 0px;

    }

    .filipinoabout {
        width: 155%;
        height: 250px;
        /* border: 2px solid black; */
        color: grey;
        position: relative;
        right: 17%;
        top: 2%;
        z-index: -1;

    }

    .filipinopara {
        font-style: italic;
        width: 525px;
        font-family: 'Oxygen', sans-serif;
        font-family: 'Ubuntu', sans-serif;

    }

    .FILIPINOblackshade {
        width: 289px;
        height: 500px;
        /* border: 2px solid yellow; */
        position: absolute;
        margin-top: 70;

        left: 0%;
        background-color: #6c757d16;
        z-index: -1;
    }

    /* TABLE FORMAT */

    .table {
        width: 98%;
        height: 890px;
        /* border: 2px solid red; */
        display: flex;
        gap: 6%;
        margin-top: 100px;
    }

    .desert {
        width: 125%;
        margin-left: 22px;
    }

    .tablepara {
        width: 70%;
        color: grey;
        font-family: 'Oxygen', sans-serif;
        font-family: 'Ubuntu', sans-serif;
        margin-top: 33px;
        margin-bottom: 75px;
    }

    .bookatable {
        margin-top: 12px;
        margin-left: 145px;
    }

    .blackthemetable {
        width: 700px;
        height: 745px;
        background-color: #6c757d16;
        position: absolute;
        left: 39%;

        margin-top: -8%;
        color: grey;
        z-index: -1;
    }

    input {

        outline: none;
        width: 68%;
        height: 35px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
        margin-bottom: 18px;
        margin-left: 150px;
        font-family: 'Oxygen', sans-serif;
        font-family: 'Ubuntu', sans-serif;

    }

    input::placeholder {
        padding: 15px;
    }

    #event {
        padding: 7px;
        color: rgb(121, 115, 115);
        outline: none;
        width: 68%;
        height: 40px;
        margin-left: 150px;
        font-family: 'Oxygen', sans-serif;
        font-family: 'Ubuntu', sans-serif;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    }

    .make {
        width: 145px;
        height: 50px;
        border-radius: 5px;
        border: none;
        outline: none;
        background-color: #f4192f;
        color: white;
        margin-left: 40%;
        margin-top: 18px;
        cursor: pointer;
    }

    /* FOOTER PORTION */

    .mainfooter {
        width: 99.7%;
        height: 550px;
        border: 2px solid  #020a17;
        background-color: #020a17;
        margin-top: 0%;
    }

    .footerbox {
        margin-top: 100px;
        width: 98%;
        margin-left: 0%;
        height: 290px;
        /* border: 2px solid teal; */
        display: flex;
    }

    .firstfootercontent {
        font-size: 18px;
        color: black;
        line-height: 18px;
        line-height: 25px;
        font-size: 18px;
        margin-left: 25px;
        display: flex;

    }
    
    
    .firstrow {
        margin-bottom: 32px;
        color: white;
        width: 155px;
        font-size: 20px;
    }

    p {
        font-family: 'Oxygen', sans-serif;
        font-family: 'Ubuntu', sans-serif;
        margin-top: 15px;
        font-size: 15px;
        color: gray;
    }

    .secondsection {
        margin-left: 65px;
    }

    .secondfootercontent {
        font-size: 18px;
        color: black;
        line-height: 18px;
        line-height: 25px;
        font-size: 18px;
        margin-left: 75px;
        display: flex;
        margin-top: 0%;
    }

    .footerpartemail {
        
        position: relative;
        margin-top: 0%;
        margin-left: 0%;
        width: 325px;
       
       
    }

    .footerinput {
        margin-top: 12px;
        width: 250px;
        height: 35px;
        display: flex;
        border: none;
        outline: none;
        margin-left: 0px;
       
    }

    input::placeholder {
        padding-left: 12px;
    }

    .footerP {
        margin-top: 30px;
    }

    #arrowicon {
        color: white;
        padding: 12px;
        margin-top: 7px;

    }

    .arrowbox {
        width: 51px;
        height: 36px;
        border: 2px solid black;
        background-color: red;
        position: absolute;

        right: 19%;
        top: 31%;
    }

    .copyright {
        width: auto;
        margin-left: 22px;
        color: white;
        font-family: 'Oxygen', sans-serif;
        font-family: 'Ubuntu', sans-serif;
        font-size: 17px;
        line-height: 12px;
    }

    .footerlastpart {
        display: flex;

    }

    .socialmediaicons {
        position: relative;
        left: 35%;
        font-size: 25px;
        color: white;

    }

}